// Include here all custom classes to add extra styling on top of what the theme and bootstrap variables offer. 

//Example for highlighting the active page in the navigation:
/*-----Top navigation-----*/

.navbar-nav .nav-item > a {
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}


header .navbar .navbar-brand {
    color: white;
}


/*-----Locally hosted font-----*/ // assuming the repo is called mTeSS-X, GHP served within ELIXIRTeSS
@font-face {
    font-family: "PlusJakartaSans-VariableFont_wght";
    src: url('/mTeSS-X/assets/fonts/PlusJakartaSans-VariableFont_wght.woff') format('woff');
}

@font-face {
    font-family: "PlusJakartaSans-Italic-VariableFont_wght";
    src: url('/mTeSS-X/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.woff') format('woff');
    font-style: italic;
}



/* Index splash feature */
.index-splash h3 {
    padding: 0.5em;
    background: $dark;
    color: white;
}

.index-splash p {
    padding-left: 0.5em;
}


/* centered graphics on the objectives pages */
figure.graphic-objective {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}


/* Objectives for mTeSS and TeSS-X heading */

.objective {
    color: $dark;
    font-weight: 100;
    font-size: xx-large;
    .objname {
        color: $primary;
    }
    .u {
        border-bottom: thick solid $primary;
        text-underline: none;
    }
}

/* logos of partners */
.partners {
    img {
        max-height: 100px;
    }
}

/* Global usages icons */
.global-usage h3 {
    background-image: url("/mTeSS-X/images/globe.svg");
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 60px;
    padding-right: 80px;
}

.global-usage .lsri {
    background-image: url("/mTeSS-X/images/lsri.svg");
}


.global-usage .panosc {
    background-image: url("/mTeSS-X/images/panosc.svg");
}

.global-usage .globe-east {
    background-image: url("/mTeSS-X/images/globe-east.svg");
}

.global-usage .globe-west {
    background-image: url("/mTeSS-X/images/globe-west.svg");
}

.global-usage .globe-centre {
    background-image: url("/mTeSS-X/images/globe-centre.svg");
}



