// Find out which theme variables you can use to fine tune the styling of your website here: https://github.com/ELIXIR-Belgium/elixir-toolkit-theme/blob/main/_sass/_variables.scss
// Copy paste theme here and change where necessary .
$font-family-theme: "PlusJakartaSans-VariableFont_wght", sans-serif;

$topnav-bg: $dark;


.objective {
  color: $dark;
  font-weight: 100;
  font-size: xx-large;
  .objname {
    color: $primary;
  }
  .u {
    border-bottom: thick solid $primary;
    text-underline: none;
  }
}